{% extends "layout.html" %}
{% block title %}Change Password{% endblock %}
{% block main %}
    <div class="card-terminal mx-auto" style="max-width: 380px;">
        <h1 class="h4 mb-4">Change password</h1>
        <form action="/change_password" method="post" autocomplete="off">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control form-control-terminal w-100" name="current_password" placeholder="Current Password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control form-control-terminal w-100" name="new_password" placeholder="New Password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control form-control-terminal w-100" name="confirmation" placeholder="Confirm New Password" type="password">
            </div>
            <button class="btn btn-cyber w-100" type="submit">Change Password</button>
        </form>
    </div>
{% endblock %}
