{% extends "layout.html" %}
{% block title %}Quote{% endblock %}
{% block main %}
    <div class="card-terminal mx-auto" style="max-width: 380px;">
        <h1 class="h4 mb-4">Get a stock quote</h1>
        <form action="/quote" method="post" autocomplete="off">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control form-control-terminal w-100" name="symbol" placeholder="Symbol" type="text">
            </div>
            <button class="btn btn-cyber w-100" type="submit">Get Quote</button>
        </form>
    </div>
{% endblock %}
